p{
  color: white;
  font-size: 3em;
  text-align: center;

}


#box{
  background: grey;
  opacity: .8;
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

#input{
  margin-left: 45%;
  border-radius: 15px;

}

#submit{
  margin-left: 20px;
}
